<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <p class="display-4 fw-normal" style="color: rgb(215, 153, 73);">NUESTRO EQUIPO DE TRABAJO </p>
    <p class="fs-5 ">conocenos un poco mas y descubri nuestra maravillosas habilidades</p>
  </div>

  <div class="album py-5 bg-transparent ">
    <div class="container">
      <div class="container__card">

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(https://media.istockphoto.com/photos/cook-smiling-at-a-restaurant-picture-id480329658?k=20&m=480329658&s=612x612&w=0&h=zuyEZ6GgyLy_nkCAqskRgXKyXH0yrT5JB7EKHCXwqZo=);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Carla Ramirez</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h1>asistente de cocina</h1>
                        <p>con mas de 20 años de experiencia trabajando en el rubro y multiples estudiops  realizados en la universas de artes gastronomicas de BSAS<br>
                      </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(https://media.istockphoto.com/photos/beautiful-chef-working-in-a-kitchen-at-a-restaurant-picture-id1142230160?k=20&m=1142230160&s=612x612&w=0&h=JJO9FIclsxAS19pi7gd3j_8e0fk_RI6mpkZ_b_VrMJI=);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Guillermina Montero</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h1>jefa de cocina</h1>
                        <p>enargada de la administracion y mantencion de todo en la cocina, ademas una muy buena compañera que siempre se preocupa por sus compañeros de trabajo</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(https://media.istockphoto.com/photos/happy-chef-working-in-a-kitchen-at-a-restaurant-picture-id1142243808?k=20&m=1142243808&s=612x612&w=0&h=SQBAfLe_Heg2ncPn-BgDahcmgSbQlWrNvlO9nLC8gCE=);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Ona Litwin</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h1>Cocinera</h1>
                        <p>cocinera encargada del armado de las piezas y su preparacion. con mas de 15 cursos realizados para especializarse hoy en dia realiza trabajops de alta calidad </p>

                    </div>
                </div>
            </div>
        </div>
        
        

    </div>
    </div>
  </div>
</body>
</html>
