<p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://images.pagina12.com.ar/styles/focal_3_2_470x313/public/2022-09/646975-whatsapp-20image-202022-09-11-20at-2019-04-11.jpeg?itok=F36xmrLe">
    </ng-template>
    <p>La tenes adentro gallina</p>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
    </ng-template>
</p-card>