<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>servicios</title>
  
  <link rel="stylesheet" href="servicios.component.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

  <H1 class="gradient"><u>
    TAKE AWAY
  </u> 
  </H1>
  <main class="container">
    
    <div class=" p-4 p-md-5 mb-4 text-white rounded bg-dark ">
      <div class="row featurette">
        <div class="col-md-12">
          <H2 class="display-4 fst-italic; text-center" >MENUS </H2>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette menus">
        <div class="col-md-12">

          <h2 class="featurette-heading" style="color: white;font-family:time">COMBINADOS </h2>
          <p class="lead" style="color: white; border-bottom: 50%;">elegi tu combo preferido</p>
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700" height="700" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"  src="../../../assets/img/combinados.jpg" alt="">
  
        </div>

      </div>
      <hr class="featurette-divider">
      <div class="row featurette menus">
        <div class="col-md-12">
          <h2 class="featurette-heading" style="color: white;font-family:time">ROLES </h2>
          <p class="lead" style="color: white;">aqui podes encontrar todas nuestras piezas por particular</p>
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="700" height="700" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"  src="../../../assets/img/menu roles.jpg" alt="">
   
        </div>
      </div>
    </div>
  </main>
  
  <hr class="featurette-divider">
  
  <div class="container">
    <h1 class="titulo_especiales text-center text-white">PROBA NUESTRAS PIEZAS ESPECIALES</h1>
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="row">
        <div class="col-lg-4">
          <img src="../../../assets/img/argentino.jpg" alt="" class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <h2 class="text-white">argentino</h2>
          <p class="text-white">envuelto en jamon crudo y relleno de una increible carne marinada</p>
        </div>
        <div class="col-lg-4">
          <img src="../../../assets/img/sushibike.jpg" alt="" class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <h2 class="text-white">sushi bike</h2>
          <p class="text-white">relleno de un sabroso pollo en tempura</p>
        </div>
        <div class="col-lg-4">
          <img src="../../../assets/img/palta cheese.jpg" alt="" class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <h2 class="text-white">palta chese</h2>
          <p class="text-white">una combinacion deliciosa de langostinos y salmon</p>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row">
        <div class="col-lg-4">
          <img src="../../../assets/img/calfornia.jpg" alt="" class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <h2 class="text-white">california</h2>
          <p class="text-white">kanicama palta y quesop philadelfia ¿algo mas rico?</p>
        </div>
        <div class="col-lg-4">
          <img src="../../../assets/img/geishas.jpg" alt="" class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <h2 class="text-white">geishas</h2>
          <p class="text-white">lonjas de salmon envueltas con palta y phila</p>
        </div>
        <div class="col-lg-4">
          <img src="../../../assets/img/new york.jpg" alt="" class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <h2 class="text-white">new york</h2>
          <p class="text-white">algo ams clasico pero con un gran sabor</p>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row">
        <div class="col-lg-4">
          <img src="../../../assets/img/buenos aires.jpg" alt="" class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <h2 class="text-white">buenos aires</h2>
          <p class="text-white">deliciosa pieza muy aclamada por nuestros clientes</p>
        </div>
        <div class="col-lg-4">
          <img src="../../../assets/img/texas.jpg" alt="" class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <h2 class="text-white">texas</h2>
          <p class="text-white">palta, phila y salmon es todo aquello que necesitas en una pieza</p>
        </div>
        <div class="col-lg-4">
          <img src="../../../assets/img/palta cheese.jpg" alt="" class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <h2 class="text-white">philadelfia</h2>
          <p class="text-white">envuelto en jamon crudo y relleno de una increible carne marinada</p>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row">
        <div class="col-lg-4">
          <img src="../../../assets/img/hot crispy.jpg" alt="" class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <h2 class="text-white">eby crispy</h2>
          <p class="text-white">apanados por un deliocioso panko y rellena de langostinos</p>
        </div>
        <div class="col-lg-4">
          <img src="../../../assets/img/hot crispy.jpg" alt="" class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <h2 class="text-white">hot veggi</h2>
          <p class="text-white">una opcion veggi a base de zanahoria, palta, philadelfia y semillas de sesamo</p>
        </div>
        <div class="col-lg-4">
          <img src="../../../assets/img/hot crispy.jpg" alt="" class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <h2 class="text-white">hot crispy</h2>
          <p class="text-white">mantenemos la tradicion con el sabor del salmon pero te taemos la explosion del calentito</p>
        </div>
      </div>
  
    </div>
  
  </div> 
</body>
</html>
