
<!-- card productos -->
<div class="container cards">
    <p-card *ngFor="let i of cards" [style]="{width: '360px',margin: '20px'}" styleClass="p-card-shadow"> <!-- el ngFor declara datosCards como i solo en cards.components-->
        <h3>{{i.nombre}}</h3> <!-- busca en datosCards: nombre -->
        
        <ng-template pTemplate="header">
            <img alt="Card" src="{{i.url}}"> <!-- busca en datosCards: url -->
        </ng-template>
        <ng-template pTemplate="footer">
            <p><b>precio:</b> {{i.precio}}</p> <!-- busca en datosCards: precio -->

            <div style="margin-top: 10px;" class="cards_btn">
                <button style="margin-right:10px; color: rgb(31, 214, 31);"  pButton pRipple type="button" (click)="mostrarEditar(i)" icon="pi pi-pencil" class="p-button-text p-button-outlined"></button>
                <button pButton pRipple type="button" (click)="mostrarEliminar(i)" icon="pi pi-trash" class="p-button-text p-button-danger p-button-outlined"></button>
            </div>

        </ng-template>
    </p-card>
</div>

<!-- formulario para editar y agregar producto -->

<div class="container agregar-bnt">
    <p-button class="p-button-success " label="Agregar Arma" (click)="mostrarDialogo()"></p-button>
</div>

<p-dialog header="{{textoBoton}}" [(visible)]="modalVisible">
    Ingrese la Informacion del Arma 

    <form [formGroup]="arma">
        <span class="p-float-label m-4" >
            <input type="text" pInputText formControlName="nombreArma">
            <label for="float-input">Nombre</label>
        </span>
        <span class="p-float-label m-4">
            <input type="text" pInputText formControlName="precioArma">
            <label for="float-input">Precio</label>
        </span>
        <input type="file" pInputText accept="imagen/*" (change)="cargarImagen($event)">
        <p><b>Imagen serleccionada:</b> </p><img  [src]="imagen" alt="sin imagen" width="50px" height="50px" style="margin: 5px;"><br>

        <p-button class="p-button-success" label="{{textoBoton}}" (click)="cargarDatos()"></p-button>
    </form>
    
</p-dialog>


<!-- para eliminar  -->
<p-dialog header="¡¡¡ADVERTENCIAA!!" [(visible)]="eliminarVisible">
    <h4>¿Desea eliminar este Arma?</h4>
    <button pButton pRipple type="button" icon="pi pi-times" (click)="eliminarVisible=false" class="p-button-text p-button-danger p-button-outlined btn_eliminar"></button>
    <button style="margin-right:10px;" pButton pRipple type="button" (click)="borrarArma()" icon="pi pi-check" class="p-button-text p-button-outlined btn_eliminar"></button>
</p-dialog>