<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nosotros</title>
  
</head>
<body>
  <main class="container">

    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Nuestra historia</h1>
        <p class="lead my-3">en este apartado te comentamos un poco de: 
        <br>
         nuestros logros <br>
        quienes somos 
        <br>
         y todo lo que conseguimos
        <br>
        </p>
      </div>
    </div>
    <div class="contenedor">
      <div class="parallax">
        <div >
          <h1 class="texto2">5 años junto a vos!</h1> 
        </div>
      </div>
    </div>
    <div class="p-4 mb-3 bg-dark rounded texto1">
      <h2 class="fst-italic">Como empezamos</h2>
      <p class="mb-0 texto fst-italic " style="font-size: 22px;">En busca de crecer en nuestro pais y poder ejercer y vivir de lo que mas nos gusta que es la cocina y el arte del sushi comenzamos con los cursos y preparados, <br>
      luego de intensos meses de preparacion tomamos la decision y abrimos nuestro primer local donde nos enamoramos de la profesion y descubrimos nuestro camino <br>
      hoy en dia estamos totalmente orgullosos de las deciciones que tomamos y lo mucho que avanzamos en el rubro <br>
      somos y siempre seremos SUSHI BIKE:TAKE AWAY, tu mejor opcion al momento de comer sushi</p>
    </div>

    <div class="row mb-2">
      <div class="col-md-6 text-white rounded bg-dark">
        <div class="row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h4 class=" text-white">Caterings </h4>
            <p class="mb-auto text-white">te comdentamos algunos caterings donde presentamos nuestros servicios
                <br>
                fiesta casamiento de 'Canelo' Álvarez
                <br>
                cumpleaños 31 diego boneta 
                <br>
                premios oscars 2021
                <br>
                Premios Globos de Oro 2019
                <br>
                Premios Guldbagge 2018
                <br>
            </p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="https://media.istockphoto.com/photos/the-team-of-cooks-backs-in-the-work-in-the-modern-kitchen-the-of-the-picture-id1162911786?k=20&m=1162911786&s=612x612&w=0&h=cRh07rfAs3ftTg2PYaSIuhWeEOuZNoib0TD5OKn8pm8=" alt="" class="bd-placeholder-img" width="270" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        </div>
      </div>
      <div class="col-md-6 text-white rounded bg-dark">
        <div class="row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h4 class=" text-white">Titulos </h4>
            <p class="mb-auto text-white">titulo certificado de sushiman
                <br>
                realizado en Rio de Janeiro, Brasil
            </p>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="https://certificadocursosonline.com/wp-content/uploads/2018/07/CERTIFICADO-DE-CURSO-DE-SUSHIMAN.jpg" alt="" class="bd-placeholder-img" width="270" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        </div>
      </div>
    </div>
  
  </main>

</body>
</html>