.header{
     
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.btn_linkear{
    margin-top: 2%;
    padding: 10px 22px;
    font-size: 10px;
    font-weight: 900;
    background: transparent;
    border: 1px solid rgb(215, 153, 73);
    border-radius: 30px;
    text-transform: uppercase;
    color: rgb(215, 153, 73);
}
.formulario{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.textoprincipal{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.titulo{
    padding-top: 3%;
}
.fila2{
    padding-top: 13%;
}
.form-group{
    margin: 2%;
}
.titulo .links{
    position: absolute;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    right: 300px;
    top: 650px;

}
.links > a{
    color: white;
}