<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <a class="navbar-brand" routerLink="/inicio" style="color: white;">INICIO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="servicios" style="color: white;">servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="caso_exito" style="color: white;">exitos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="equipo" style="color: white;">equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacto" style="color: white;">contacto</a>
          </li>
    </ul>
    <p class="text-center text" style="color: rgb(215, 153, 73);">© 2019 Company, Inc</p>
  </footer>
